<body>
    <div class="contenedor">
      <div class="fondo">
        <div class="nav">
          <div class="marca">
            <img class="logo" src="assets/logo.jpeg" alt="logo" />
          </div>
          <div class="redireciones">
            <ul>
              <li>
                <img class="logo-home" src="assets/home.png" alt="logo-home" />
                <a class="boton" [routerLink]="['/bienvenido']"
                  ><h2 class="redic">Home</h2></a
                >
              </li>
              <li>
                <img class="logo-subir" src="assets/subir.png" alt="logo-subir" />
                <a class="boton" [routerLink]="['/subir']"
                  ><h2 class="estoyeneste">Subir</h2></a
                >
              </li>
              <li>
                <img
                  class="logo-productos" src="assets/productos.png" alt="logo-productos"/>
                <a class="boton" [routerLink]="['/productos']"
                  ><h2 class="redic">Productos</h2></a
                >
              </li>
            </ul>
          </div>
          <div class="logout">
            <ul>
              <li class="cerrarsesion">
                <img
                  class="logo-logout"
                  src="assets/logout.png"
                  alt="logo-logout"
                />
                <a class="boton-logout" [routerLink]="['/login']"
                  ><h2 class="cerrar">Cerrar Sesion</h2></a
                >
              </li>
            </ul>
          </div>
        </div>
        <tbody class="contenido">
          <h1>Subir Nuevo Producto</h1>
          <div class="formulario">
            <ul>
              <li > <input  type="text" [(ngModel)]="nombre"
                required placeholder="Nombre del Producto:">
              </li>
              <li>  <input type="number" [(ngModel)]="stock"
                required placeholder="Stock">
              </li>
              <li> <input type="number" [(ngModel)]="invercion"
                 placeholder="Invercion"required>
              </li>
              <li> <input type="number" [(ngModel)]="plista"
                required placeholder="Pecio de Lista">
              </li>
              
            </ul>
          </div>
          <div class="botonSubir">
            <button (click)="AddProduc()" >Guardar Producto</button>
          </div>

        </tbody>
      </div>
    </div>
  </body>
  