<body>
  <div class="contenedor">
    <div class="fondo">
      <div class="nav">
        <div class="marca">
          <img class="logo" src="assets/logo.jpeg" alt="logo" />
        </div>
        <div class="redireciones">
          <ul>
            <li>
              <img class="logo-home" src="assets/home.png" alt="logo-home" />
              <a><h2 class="estoyeneste">Home</h2></a>
            </li>
            <li>
              <img class="logo-subir" src="assets/subir.png" alt="logo-subir" />
              <a class="boton" [routerLink]="['/subir']"
                ><h2 class="redic">Subir</h2></a
              >
            </li>
            <li>
              <img
                class="logo-productos"
                src="assets/productos.png"
                alt="logo-productos"
              />
              <a class="boton" [routerLink]="['/productos']"
                ><h2 class="redic">Productos</h2></a
              >
            </li>
          </ul>
        </div>
        <div class="logout">
          <ul>
            <li class="cerrarsesion">
              <img
                class="logo-logout"
                src="assets/logout.png"
                alt="logo-logout"
              />
              <a class="boton-logout" [routerLink]="['/login']"
                ><h2 class="cerrar">Cerrar Sesion</h2></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="bienvenido">Bienvenido a Wualki</div>
    </div>
  </div>
</body>
