body{
    display: flex;
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el relleno predeterminado del body */
    background-size: cover; /* Ajusta la imagen para cubrir completamente el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-image: url(/assets/fondo-body.jpg);
    align-content: center;
    flex-wrap: wrap;
   
}
.contenedor{
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid black;
    padding: 150px;
    border-radius: 20px; 
    backdrop-filter: blur(2px);
    
}
h1{
    text-align: center;
    
}
.fondo{
    background-color: rgb(2 49 46 / 90%);
    display: flex;
    padding: 60px;
    height: 360px;
    border-radius: 70px;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}
.nav{
    display: flex;
    background-color: rgb(2 118 150/ 70%);
    border-radius: 70px;
    min-height: 39vh;
    max-height: 40vh;
    max-width: 100vh;
    min-width: 60vh;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.formulario{
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    
}
.logo{
    border-radius: 250px; 
    background-position: center;
    height: 250px;
}
input{
    border-radius: 8px;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
    border-color: white;
}

