<!-- <body>
    <div class="fondo">
        <h1>Inicio de Sesion</h1>
        <div class="login">           
            <form>
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control"
                        [(ngModel)]="username" required placeholder="Nombre de Usuario"/>
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control"
                        [(ngModel)] = "password" required placeholder="Contraseña"/>
                </div>
                            
            </form>
            <div>
                <button class="boton">Iniciar Sesión</button>
            </div>        
        </div>
            
        <div class="marca">
            <img class="logo" src="assets/logo.jpeg" alt="logo">
        </div> 
    </div>
</body> -->
<body>
    <h1>Inicio de sesion</h1>
    <div class="fondo">
        
        <form class="formulario">
            <div>   
                <input type="username" name="user" id="user" placeholder="Nombre de Usuario">
            </div>
            <div>   
                <input type="password" placeholder="Contraseña">
            </div>   
            <div><button type="button">Inicio sesion</button></div>
        </form>
     
        <img class="logo" src="assets/logo.jpeg" alt=" logo">

    </div>
</body>