<body>
  <div class="contenedor">
    <div class="fondo">
      <div class="nav">
        <div class="marca">
          <img class="logo" src="assets/logo.jpeg" alt="logo" />
        </div>
        <div class="redireciones">
          <ul>
            <li>
              <img class="logo-home" src="assets/home.png" alt="logo-home" />
              <a class="boton" [routerLink]="['/bienvenido']"
                ><h2 class="redic">Home</h2></a
              >
            </li>
            <li>
              <img class="logo-subir" src="assets/subir.png" alt="logo-subir" />
              <a class="boton" [routerLink]="['/subir']"
                ><h2 class="redic">Subir</h2></a
              >
            </li>
            <li>
              <img
                class="logo-productos"
                src="assets/productos.png"
                alt="logo-productos"
              />
              <a class="boton" [routerLink]="['/productos']"
                ><h2 class="estoyeneste">Productos</h2></a
              >
            </li>
          </ul>
        </div>
        <div class="logout">
          <ul>
            <li class="cerrarsesion">
              <img
                class="logo-logout"
                src="assets/logout.png"
                alt="logo-logout"
              />
              <a class="boton-logout" [routerLink]="['/login']"
                ><h2 class="cerrar">Cerrar Sesion</h2></a
              >
            </li>
          </ul>
        </div>
      </div>

      <tbody class="contenido">
        <h1 style="display:flex; justify-content: center;">Wualki stock</h1>
        <div class="busq-contenido">
          <input
            class="busq-input"
            type="text"
            name="datoBuscado"
            placeholder="Buscar producto"
            [(ngModel)]="datoBuscado"
          />
        </div>
        <table class="tablaProductos">
          <thead>
            <tr class="conttabla">
              <th >Id</th>
              <th style="width:202px">Nombre</th>
              <th style="width:43px">Stock</th>
              <th style="width:68px">Invecion</th>
              <th style="width:120px">Precio de Lista</th>
              <th style="width:75px">Ganancia</th>
              <th style="width:90px">Acciones</th>
            </tr>
          </thead>
          <table>
          <tr
            class="contenidotabla"
            *ngFor="let product of producto | filtro : datoBuscado">
            <td style="width:16px">{{ product.id }}</td>
            <td style="width:200px">{{ product.nombre }}</td>
            <td style="width:41px">{{ product.stock }}</td>
            <td style="width:66px">{{ product.invercion }}</td>
            <td style="width:118px">{{ product.precioLista }}</td>
            <td style="width:70px">{{ product.precioLista - product.invercion }}</td>
            <td>
                <div class="acciones">
                  <td><a  [routerLink]="['/editar', product.id]" class="btn btn-warning"><img class="imagen-acciones" src="../../assets/editar.png" alt="imagen-editar"></a></td>
                  <td><a (click)="deleteProduct(product.id)" [routerLink]="['/productos']" class="btn btn-warning"><img class="imagen-acciones" src="../../assets/borrar.png"></a></td>
                </div>
            </td>
          </tr>
          </table>
        </table>
      </tbody>
    </div>
  </div>
</body>
